{% extends 'boilerplate.html' %}

{% block navbar %}
    {{ block.super }}
    <nav class="deep-purple accent-2">
        <div class="nav-wrapper container">
            <div class="col s12">
                <a href="{% url 'browser' %}" class="breadcrumb">Archiwum</a>
                {% for curr in breadcrumbs %}
                    <a href="{% url 'browser_path' path=curr.1 %}" class="breadcrumb">{{ curr.0 }}</a>
                {% endfor %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <ul class="collection">
            {% for dir in dirs %}
                <li class="collection-item avatar">
                    <a href="{% url 'browser_path' path=dir.path %}">
                        <i class="material-icons circle purple darken-4">folder</i>
                        {{ dir.name }}
                    </a>
                    <br/>
                    <span class="grey-text text-lighten-1">Folder</span>
                </li>
            {% endfor %}
            {% for file in files %}
                <li class="collection-item avatar">
                    {% if file.ext == "mp3" or file.ext == 'wav' %}
                        <a href="{% url 'show' path=file.path %}">
                            <i class="material-icons circle indigo">phone_in_talk</i>
                            {{ file.name }}
                        </a>
                        <br/>
                        Plik nagrania
                    {% else %}
                        <i class="material-icons circle">insert_drive_file</i>
                        {{ file.name }}<br/>
                        <span class="grey-text text-lighten-1 ">Plik {{ file.ext }}</span>
                    {% endif %}

                </li>
            {% endfor %}

        </ul>
        {% if dirs|length == 0 and files|length == 0 %}
            <h2 class="center">
                <br/><br/><br/>
                Ten folder jest pusty
                <br/><br/><br/>
                <a class="waves-effect waves-light deep-purple accent-4 btn-large"
                   href="{% url 'browser_path' path=previous_path %}">
                    <i class="material-icons left">arrow_back</i>
                    Wróć do folderu nadrzędnego
                </a>
            </h2>
        {% endif %}
    </div>
{% endblock %}