{% extends 'boilerplate.html' %}

{% block body %}
    <br/><br/>
    <div class="row">
        <div class="container">
            <div class="card indigo darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ name }}</span>
                    <br/>
                    <p>
                        <audio controls style="width: 100%">
                            <source src="{% url 'stream_file' path=path %}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </p>
                </div>
                <div class="card-action">
                    <a href="{% url 'get_file' path=path %}" class="indigo-text text-accent-1">Pobierz</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}